<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link th:href="@{/css/oembed.css}" rel="stylesheet">
</head>
<body>
<div class="div_1">
<div class="div_2">
    <div class="header">oEmbed Test</div>
    <div class="searchBar"><label>
        <input class="search" type="text"/>
        <input class="btn" type="button" value="확인"/>
    </label> </div>
</div>
   <div class="div_3">
       <div class="content">
           코인 투자자, 평범한 직장인 등 루나로 한방 꿈꿔
           테라 대표 자택 침입자 "삶 포기한 분도 있어"
           금융당국, 투자자 보호 조치‧디지털자산 규제
           전문가 "시장 위축 우려…당국 규제 가속화"
           "물의를 일으켜 죄송하다"면서도 "제 주변에 실제로 삶을 포기하신 분들이 있다. 권 대표가 공식 사죄하고 가진 자금을 동원하든 어떠한 계획을 말해야 한다"며 권 대표에게 책임을 촉구했다.
           자신의 피해 액수에 대해선 "20억원 이상"이라고 했다.
           루나와 같은 코인에 2030세대 투자자가 몰린 배경에는
           부동산 가격 폭등에 따른 '내집 마련'의 절망 위에 소위
           '한방'에 대한 성공신화가 덧씌워진 영향이 있다.
           주식시장과 함께 코인 시장도 호황기를 맞으면서
           100만원으로 1억원을 벌었다는 얘기부터 몇 십억
           원을 벌어 당당하게 사표를 썼다는 얘기 등이
           심심찮게 들려왔다. 코인 투자가 주식 투자처럼
           자연스러워진 영향도 있다.
       </div>
   </div>
</div>
</body>
</html>